<template>
  <div class="footer">
    <br />
    <br />
    <footer>
      <div class="foot">
        <b>
          Copyright &copy; <span>{{ year }} Terisha Theodat</span>
        </b>
      </div>
    </footer>
  </div>
</template>

<style scoped>
footer {
  color: navy;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.foot {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}
</style>

<script>
export default {
  name: "Footer",
  data() {
    return {
      year: "",
    };
  },
  mounted() {
    this.year = new Date().getFullYear();
  },
};
</script>




