<template>
  <div id="navi" class="bcontent" style="width: auto">
    <nav
      class="navbar navbar-dark bg-info"
      style="float: left; left: 0px; top: 0px; position: absolute"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link class="nav-link" to="/manageAdmin"
            >Manage System Admin <i class="fa fa-laptop" aria-hidden="true"></i
          ></router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/manageStaff"
            >Manage Clinic Staff
            <i class="fa fa-clipboard" aria-hidden="true"></i
          ></router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/"
            >Sign Out of Admin <i class="fa fa-sign-out" aria-hidden="true"></i
          ></router-link>
        </li>
      </ul>
    </nav>

    <!-- main picture -->
    <div class="container">
      <img src="@/assets/admin.jpg" alt="" height="100%" width="80%" />
    </div>
  </div>
</template>

<script>
export default {
  name: "Admin",
};
</script>