<template>
  <div id="doctors">
    <div class="container">
      <div style="float: left">
        <router-link
          class="nav-link"
          to="/staff"
          style="text-decoration: underline; color: navy blue"
          ><i class="fa fa-backward" aria-hidden="true"></i> Clinic Home
          Page</router-link
        >
      </div>
      <div style="float: right">
        <router-link
          class="nav-link"
          to="/"
          style="text-decoration: underline; color: navy blue"
          >Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i
        ></router-link>
      </div>
      <br />
      <h4 class="text-info">Doctors</h4>
      <hr />
      <div v-if="this.docFormErrors.length">
        <li v-for="(error, e) in docFormErrors" :key="e" class="text-danger">
          {{ error }}
        </li>
      </div>
      <br />
      <form action="">
        <input
          type="text"
          class="form-control"
          placeholder="First Name..."
          v-model="docForm.docName"
        />
        <br />
        <input
          type="text"
          class="form-control"
          placeholder="Last Name..."
          v-model="docForm.docLastname"
        />
        <br />
        <input
          type="text"
          class="form-control"
          placeholder="### - ### - ####"
          v-model="docForm.docPhone"
        />
        <br />
        <input
          type="text"
          class="form-control"
          placeholder="Specialty..."
          v-model="docForm.specialty"
        />
      </form>
      <br />
      <button class="btn btn-outline-info" v-if="!fixDoc" @click="addDoc">
        Add a Doctor
      </button>
      <button
        type="button"
        class="btn btn-outline-danger btn-sm"
        v-if="fixDoc"
        @click="saveChanges"
      >
        save
      </button>
      <button
        type="button"
        class="btn btn-outline-info btn-sm"
        v-if="fixDoc"
        @click="cancelEdits"
      >
        cancel
      </button>
    </div>
    <br />
    <br />

    <table id="doctorsTable" class="display">
      <thead class="table-active">
        <tr>
          <th>Specialty</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone No.</th>
          <th>Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info" :key="i" v-for="(doc, i) in doctors">
          <td>{{ doc.specialty }}</td>
          <td>{{ doc.docName }}</td>
          <td>{{ doc.docLastname }}</td>
          <td>{{ doc.docPhone }}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              v-if="!fixDoc"
              @click="editDoc(doc)"
            >
              edit
            </button>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              @click="deleteDoc(doc)"
            >
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Doctors",
  data() {
    return {
      doctors: [],
      docFormErrors: [],
      docForm: {
        docName: "",
        docLastname: "",
        docPhone: "",
        specialty: "",
      },
      fixDoc: false,
      fixID: "",
    };
  },
  methods: {
    loadDoctors: function () {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/doctors`,
        success: function (data, status) {
          if (status === "success") {
            $this.doctors = JSON.parse(data);
          }
        },
      });
    },
    searchDoctors: function () {
      let $this = this;
      $.ajax({
        url: "/finddoctors",
        type: "GET",
        success: (data, status) => {
          if (status === "success") {
            $this.doctors = JSON.parse(data);
          }
        },
      });
    },
    addDoc: function () {
      this.docFormErrors = [];
      var phoneVerifier = 0;

      // verifying phone input contains 10 digits
      for (const digit in this.docForm.docPhone) {
        if (!isNaN(digit)) {
          phoneVerifier++;
        }
      }

      if (this.docForm.docName === "" || this.docForm.docLastname === "") {
        this.docFormErrors.push("Incomplete name input(s).");
      }
      if (this.docForm.docPhone === "" || phoneVerifier != 10) {
        this.docFormErrors.push(
          "Incomplete/Invalid phone input (must be 10 digits long)."
        );
      }
      if (this.docForm.specialty === "") {
        this.docFormErrors.push("Incomplete specialty input.");
      }
      // checking if there are duplicate entries
      var duplicate = false;
      for (let index = 0; index < this.doctors.length; index++) {
        if (
          this.docForm.docName === this.doctors[index].docName &&
          this.docForm.docLastname === this.doctors[index].docLastname &&
          this.docForm.docPhone === this.doctors[index].docPhone &&
          this.docForm.specialty === this.doctors[index].specialty
        ) {
          duplicate = true;
          swal("Doctor already exists!", "", "error");
        }
      }

      if (
        this.docForm.docName != "" &&
        this.docForm.docLastname != "" &&
        this.docForm.docPhone != "" &&
        phoneVerifier === 10 &&
        this.docForm.specialty != "" &&
        duplicate === false
      ) {
        this.docFormErrors = [];
        let $this = this;

        $.ajax({
          type: "POST",
          url: `${baseURL}/doctors/savedoctor`,
          data: $this.docForm,
          success: (data, status) => {
            if (status === "success") {
              $this.loadDoctors();
              swal(
                "Saved!",
                `Welcome, Dr. ${$this.docForm.docName} ${$this.docForm.docLastname}.`,
                "success"
              );
              for (const key in $this.docForm) {
                $this.docForm[key] = "";
              }
            }
          },
        });
      }
    },
    editDoc: function (doc) {
      this.docForm.docName = doc.docName;
      this.docForm.docLastname = doc.docLastname;
      this.docForm.docPhone = doc.docPhone;
      this.docForm.specialty = doc.specialty;
      (this.fixID = doc._id), (this.fixDoc = true);
    },
    cancelEdits: function () {
      this.fixDoc = false;
      this.docFormErrors = [];
      for (const key in this.docForm) {
        this.docForm[key] = "";
      }
    },
    saveChanges: function () {
      this.docFormErrors = [];
      var phoneVerifier = 0;

      // verifying phone input contains 10 digits
      for (const digit in this.docForm.docPhone) {
        if (!isNaN(digit)) {
          phoneVerifier++;
        }
      }

      if (this.docForm.docName === "" || this.docForm.docLastname === "") {
        this.docFormErrors.push("Incomplete name input(s).");
      }
      if (this.docForm.docPhone === "" || phoneVerifier != 10) {
        this.docFormErrors.push(
          "Incomplete/Invalid phone input (must be 10 digits long)."
        );
      }
      if (this.docForm.specialty === "") {
        this.docFormErrors.push("Incomplete specialty input.");
      }
      // checking if there are duplicate entries
      var duplicate = false;
      for (let index = 0; index < this.doctors.length; index++) {
        if (
          this.docForm.docName === this.doctors[index].docName &&
          this.docForm.docLastname === this.doctors[index].docLastname &&
          this.docForm.docPhone === this.doctors[index].docPhone &&
          this.docForm.specialty === this.doctors[index].specialty
        ) {
          duplicate = true;
          swal("Doctor already exists!", "", "error");
        }
      }

      if (
        this.docForm.docName != "" &&
        this.docForm.docLastname != "" &&
        this.docForm.docPhone != "" &&
        phoneVerifier === 10 &&
        this.docForm.specialty != "" &&
        duplicate === false
      ) {
        this.docFormErrors = [];
        let $this = this;

        $.ajax({
          type: "PUT",
          url: `${baseURL}/doctors/editdoctor/${$this.fixID}`,
          data: $this.docForm,
          success: (data, status) => {
            if (status === "success") {
              $this.loadDoctors();
              swal(
                "Saved!",
                `Dr. ${$this.docForm.docName} ${$this.docForm.docLastname}\'s info has been updated.`,
                "success"
              );
              for (const key in $this.docForm) {
                $this.docForm[key] = "";
              }
              $this.fixDoc = false;
            }
          },
        });
      }
    },
    deleteDoc: function (doc) {
      this.docFormErrors = [];
      var person = prompt("DELETE: Enter doctor's FULL NAME to confirm.", "");
      var fullName = doc.docName + " " + doc.docLastname;
      if (person === fullName) {
        let $this = this;
        $.ajax({
          type: "DELETE",
          url: `${baseURL}/doctors/deletedoctor/${doc._id}`,
          success: (data, status) => {
            if (status === "success") {
              $this.loadDoctors();
              swal("Deleted.", "This doctor was successfully removed.", "info");
            }
          },
        });
      } else {
        swal(
          "Delete Process Cancelled!",
          "This doctor was not confirmed.",
          "warning"
        );
      }
    },
  },
  mounted() {
    $("#doctorsTable").DataTable();
    this.loadDoctors();
  },

  watch: {
    searchParams: function (value) {
      if (value === "") {
        this.searchDoctors();
      }
    },
    doctors: function (value) {
      $("#doctorsTable").DataTable().destroy();
      this.$nextTick((value) => {
        $("#doctorsTable").DataTable();
      });
    },
  },
};
</script>

<style>
.container {
  text-align: center;
}
</style>