<template>
  <div id="manageadmin" class="container">
    <div style="float: left">
      <router-link
        class="nav-link"
        to="/admin"
        style="text-decoration: underline"
        ><i class="fa fa-backward" aria-hidden="true"></i> Administration Home
        Page
      </router-link>
    </div>
    <div style="float: right">
      <router-link class="nav-link" to="/" style="text-decoration: underline"
        >Sign Out of Administration
        <i class="fa fa-sign-out" aria-hidden="true"></i
      ></router-link>
    </div>
    <br />
    <br />
    <h4 class="text-info">System Administrators</h4>
    <hr />
    <div v-if="this.adminFormErrors.length">
      <li v-for="(error, e) in adminFormErrors" :key="e" class="text-danger">
        {{ error }}
      </li>
    </div>
    <br />

    <form action="">
      <label for="" class="text-success">Full name:</label>
      <input type="text" class="form-control" v-model="adminForm.name" />
      <br />
      <label for="" class="text-success">Email:</label>
      <input type="email" class="form-control" v-model="adminForm.email" />
      <br />
      <label for="" class="text-success">Username:</label>
      <input type="text" class="form-control" v-model="adminForm.user" />
      <br />
      <label for="" class="text-success">Password:</label>
      <input type="password" class="form-control" v-model="adminForm.pass" />
    </form>
    <br />
    <button
      class="btn btn-outline-info"
      type="button"
      v-if="!fixAdmin"
      @click="addAdmin"
    >
      Submit
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-sm"
      v-if="fixAdmin"
      @click="saveChanges"
    >
      save
    </button>
    <button
      type="button"
      class="btn btn-outline-info btn-sm"
      v-if="fixAdmin"
      @click="cancelEdit"
    >
      cancel
    </button>
    <br />
    <br />
    <br />

    <table id="admin" class="display">
      <thead class="table-primary">
        <tr>
          <th>Administrator ID</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>User</th>
          <th>Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-sceondary" :key="i" v-for="(ad, i) in admin">
          <td>{{ ad._id }}</td>
          <td>{{ ad.name }}</td>
          <td>{{ ad.email }}</td>
          <td>{{ ad.user }}</td>
          <td>
            <button
              type="button"
              class="btn btn-info btn-sm"
              v-if="!fixAdmin"
              @click="editAdmin(ad)"
            >
              edit
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              @click="deleteAdmin(ad)"
            >
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "ManageAdmin",
  data() {
    return {
      admin: [],
      adminForm: {
        name: "",
        email: "",
        user: "",
        pass: "",
      },
      adminFormErrors: [],
      fixAdmin: false,
      adminID: "",
    };
  },
  methods: {
    loadAdmin: function () {
      let $this = this;

      $.ajax({
        type: "GET",
        url: `${baseURL}/manageAdmin`,
        success: (data, status) => {
          if (status === "success") {
            $this.admin = JSON.parse(data);
          }
        },
      });
    },
    searchAdmin: function () {
      let $this = this;
      $.ajax({
        url: "/findadmin",
        type: "GET",
        success: (data, status) => {
          if (status === "success") {
            $this.admin = JSON.parse(data);
          }
        },
      });
    },
    addAdmin: function () {
      this.adminFormErrors = [];

      // verifying email input
      var emailVerifier = 0;
      for (const key in this.adminForm.email) {
        if (this.adminForm.email[key] === "@") {
          emailVerifier++;
        }
      }

      if (this.adminForm.name === "") {
        this.adminFormErrors.push("Please enter new user's full name.");
      }
      if (this.adminForm.email === "" || emailVerifier != 1) {
        this.adminFormErrors.push("Please enter a valid email.");
      }
      if (this.adminForm.user === "") {
        this.adminFormErrors.push("Please enter a username.");
      }
      if (this.adminForm.pass === "") {
        this.adminFormErrors.push("Please enter a password.");
      }
      // checking if there are duplicate entries
      var duplicate = false;
      for (let index = 0; index < this.admin.length; index++) {
        if (
          this.adminForm.name.trim() === this.admin[index].name.trim() &&
          this.adminForm.email.trim() === this.admin[index].email.trim()
        ) {
          duplicate = true;
          swal("System Administrator already exists!", "", "error");
        }
      }

      if (
        this.adminForm.name != "" &&
        this.adminForm.email != "" &&
        emailVerifier === 1 &&
        this.adminForm.user != "" &&
        this.adminForm.pass != "" &&
        duplicate === false
      ) {
        this.adminFormErrors = [];
        let $this = this;

        $.ajax({
          type: "POST",
          url: `${baseURL}/manageAdmin/saveadmin`,
          data: $this.adminForm,
          success: (data, status) => {
            if (status === "success") {
              $this.loadAdmin();
              swal(
                "New Admin!",
                `Welcome to our clinic, ${$this.adminForm.user}.`,
                "success"
              );
              $this.adminForm.name = "";
              $this.adminForm.email = "";
              $this.adminForm.user = "";
              $this.adminForm.pass = "";
            }
          },
        });
      }
    },
    editAdmin: function (ad) {
      var password = prompt(
        "To continue, please enter the password for this user:",
        ""
      );
      if (password === ad.pass) {
        this.fixAdmin = true;
        this.adminForm.name = ad.name;
        this.adminForm.email = ad.email;
        this.adminForm.user = ad.user;
        this.adminForm.pass = ad.pass;
        this.adminID = ad._id;
      } else {
        swal("Edit Access Denied.", "The password was incorrect.", "error");
      }
    },
    cancelEdit: function () {
      this.fixAdmin = false;
      this.adminFormErrors = [];
      this.adminForm.name = "";
      this.adminForm.email = "";
      this.adminForm.user = "";
      this.adminForm.pass = "";
    },
    saveChanges: function () {
      this.adminFormErrors = [];

      // verifying email input
      var emailVerifier = 0;
      for (const key in this.adminForm.email) {
        if (this.adminForm.email[key] === "@") {
          emailVerifier++;
        }
      }

      if (this.adminForm.name === "") {
        this.adminFormErrors.push("Please enter new user's full name.");
      }
      if (this.adminForm.email === "" || emailVerifier != 1) {
        this.adminFormErrors.push("Please enter a valid email.");
      }
      if (this.adminForm.user === "") {
        this.adminFormErrors.push("Please enter a username.");
      }
      if (this.adminForm.pass === "") {
        this.adminFormErrors.push("Please enter a password.");
      }
      // checking if there are duplicate entries
      var duplicate = false;
      for (let index = 0; index < this.admin.length; index++) {
        if (
          this.adminForm.name.trim() === this.admin[index].name.trim() &&
          this.adminForm.email.trim() === this.admin[index].email.trim()
        ) {
          duplicate = true;
          swal("System Administrator already exists!", "", "error");
        }
      }

      if (
        this.adminForm.name != "" &&
        this.adminForm.email != "" &&
        emailVerifier === 1 &&
        this.adminForm.user != "" &&
        this.adminForm.pass != "" &&
        duplicate === false
      ) {
        this.adminFormErrors = [];
        let $this = this;

        $.ajax({
          type: "PUT",
          url: `${baseURL}/manageAdmin/editadmin/${$this.adminID}`,
          data: $this.adminForm,
          success: (data, status) => {
            if (status === "success") {
              $this.loadAdmin();
              swal(
                "Saved!",
                `Your info has been updated, ${$this.adminForm.user}.`,
                "success"
              );
              $this.adminForm.name = "";
              $this.adminForm.email = "";
              $this.adminForm.user = "";
              $this.adminForm.pass = "";
              $this.fixAdmin = false;
            }
          },
        });
      }
    },
    deleteAdmin: function (ad) {
      this.fixAdmin = false;
      this.adminFormErrors = [];
      var username = prompt("DELETE: Enter username to confirm.", "");
      if (username === ad.user) {
        let $this = this;
        $.ajax({
          type: "DELETE",
          url: `${baseURL}/manageAdmin/deleteadmin/${ad._id}`,
          success: (data, success) => {
            $this.loadAdmin();
            swal("Deleted.", "This user was successfully removed.", "info");
          },
        });
      } else {
        swal(
          "Delete Process Cancelled!",
          "This user was not confirmed.",
          "warning"
        );
      }
    },
  },
  mounted() {
    $("#admin").DataTable();
    this.loadAdmin();
  },
  watch: {
    searchParams: function (value) {
      if (value === "") {
        this.searchAdmin();
      }
    },
    admin: function (value) {
      $("#admin").DataTable().destroy();
      this.$nextTick(() => {
        $("#admin").DataTable();
      });
    },
  },
};
</script>

<style>
</style>