<template>
  <div class="container" id="patients">
    <div style="float: left">
      <router-link
        class="nav-link"
        to="/staff"
        style="text-decoration: underline; color: navy blue"
        ><i class="fa fa-backward" aria-hidden="true"></i> Clinic Home
        Page</router-link
      >
    </div>
    <div style="float: right">
      <router-link
        class="nav-link"
        to="/"
        style="text-decoration: underline; color: navy blue"
        >Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i
      ></router-link>
    </div>
    <br />
    <h4 class="text-success">Patients</h4>
    <hr />
    <div v-if="this.patientFormErrors.length">
      <li v-for="(error, e) in patientFormErrors" :key="e" class="text-danger">
        {{ error }}
      </li>
    </div>
    <br />
    <form action="">
      <input
        type="text"
        class="form-control"
        placeholder="First Name..."
        v-model="patientForm.patName"
      />
      <br />
      <input
        type="text"
        class="form-control"
        placeholder="Last Name..."
        v-model="patientForm.patLastname"
      />
      <br />
      <div class="form-group">
        <label for="" class="text-primary">Patient's Gender:</label>
        <div class="custom-control custom-radio">
          <input
            type="radio"
            id="customRadio1"
            name="customRadio"
            class="custom-control-input"
            value="male"
          />
          <label class="custom-control-label" for="customRadio1">Male</label>
        </div>
        <div class="custom-control custom-radio">
          <input
            type="radio"
            id="customRadio2"
            name="customRadio"
            class="custom-control-input"
            value="female"
          />
          <label class="custom-control-label" for="customRadio2">Female</label>
        </div>
      </div>
      <br />
      <input
        type="text"
        class="form-control"
        placeholder="Address..."
        v-model="patientForm.address"
      />
      <br />
      <input
        type="text"
        class="form-control"
        placeholder="Zip code (#####)"
        v-model="patientForm.zipCode"
      />
      <br />
      <input
        type="text"
        class="form-control"
        placeholder="### - ### - ####"
        v-model="patientForm.patPhone"
      />
      <br />
      <label for="" class="text-primary">Patient's DOB:</label>
      <input type="date" class="form-control" v-model="patientForm.dob" />
    </form>
    <br />
    <button
      type="button"
      class="btn btn-outline-success"
      @click="addPat"
      v-if="!fixPatient"
    >
      add patient
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-sm"
      v-if="fixPatient"
      @click="saveChanges"
    >
      save
    </button>
    <button
      type="button"
      class="btn btn-outline-success btn-sm"
      v-if="fixPatient"
      @click="cancelEdits"
    >
      cancel
    </button>
    <br />
    <br />
    <br />

    <table id="patientsTable" class="display">
      <thead class="table-active">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Address</th>
          <th>Phone No.</th>
          <th>DOB</th>
          <th>Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-success" :key="i" v-for="(pat, i) in patients">
          <td>{{ pat.patName }}</td>
          <td>{{ pat.patLastname }}</td>
          <td>{{ pat.gender }}</td>
          <td>{{ pat.address }} {{ pat.zipCode }}</td>
          <td>{{ pat.patPhone }}</td>
          <td>{{ pat.dob }}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              v-if="!fixPatient"
              @click="editPat(pat)"
            >
              edit
            </button>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              @click="deletePat(pat)"
            >
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Patients",
  data() {
    return {
      patients: [],
      patientFormErrors: [],
      patientForm: {
        patName: "",
        patLastname: "",
        gender: "",
        address: "",
        zipCode: "",
        patPhone: "",
        dob: "",
      },
      fixPatient: false,
      fixID: "",
    };
  },
  methods: {
    loadPatients: function () {
      let $this = this;

      $.ajax({
        type: "GET",
        url: `${baseURL}/patients`,
        success: (data, status) => {
          if (status === "success") {
            $this.patients = JSON.parse(data);
          }
        },
      });
    },
    searchPatients: function () {
      let $this = this;
      $.ajax({
        url: "/findpatients",
        type: "GET",
        success: (data, status) => {
          if (status === "success") {
            $this.patients = JSON.parse(data);
          }
        },
      });
    },
    addPat: function () {
      let $this = this;
      this.patientFormErrors = [];
      var zipVerifier = 0;
      var phoneVerifier = 0;
      this.patientForm.gender = $(".custom-control-input").val();

      // verifying zip code and phone inputs
      for (const digit in this.patientForm.zipCode) {
        if (!isNaN(digit)) {
          zipVerifier++;
        }
      }
      for (const digit2 in this.patientForm.patPhone) {
        if (!isNaN(digit2)) {
          phoneVerifier++;
        }
      }

      if (
        this.patientForm.patName === "" ||
        this.patientForm.patLastname === ""
      ) {
        this.patientFormErrors.push("Incomplete name input(s).");
      }
      if (this.patientForm.address === "") {
        this.patientFormErrors.push("Incomplete address input.");
      }
      if (this.patientForm.zipCode === "" || zipVerifier != 5) {
        this.patientFormErrors.push("Incomplete zip code input.");
      }
      if (this.patientForm.patPhone === "" || phoneVerifier != 10) {
        this.patientFormErrors.push(
          "Incomplete/Invalid phone input (must be 10 digits long)."
        );
      }
      if (this.patientForm.dob === "") {
        this.patientFormErrors.push("Incomplete DOB input.");
      }

      // checking if there are duplicate entries
      var duplicate = false;
      for (let index = 0; index < this.patients.length; index++) {
        if (
          this.patientForm.patName === this.patients[index].patName &&
          this.patientForm.patLastname === this.patients[index].patLastname &&
          this.patientForm.gender === this.patients[index].gender &&
          this.patientForm.address === this.patients[index].address &&
          this.patientForm.zipCode === this.patients[index].zipCode &&
          this.patientForm.patPhone === this.patients[index].patPhone &&
          this.patientForm.dob === this.patients[index].dob
        ) {
          duplicate = true;
          swal("Patient already exists!", "", "error");
        }
      }

      if (
        this.patientForm.patName != "" &&
        this.patientForm.patLastname != "" &&
        this.patientForm.address != "" &&
        this.patientForm.zipCode != "" &&
        zipVerifier === 5 &&
        this.patientForm.patPhone != "" &&
        phoneVerifier === 10 &&
        this.patientForm.dob != "" &&
        duplicate === false
      ) {
        this.patientFormErrors = [];

        $.ajax({
          url: `${baseURL}/patients/savepatient`,
          type: "POST",
          data: $this.patientForm,
          success: (data, status) => {
            if (status === "success") {
              $this.loadPatients();
              swal(
                "Saved!",
                `Welcome to our clinic, ${$this.patientForm.patName} ${$this.patientForm.patLastname}.`,
                "success"
              );
              for (const key in $this.patientForm) {
                $this.patientForm[key] = "";
              }
            }
          },
        });
      }
    },
    editPat: function (pat) {
      this.patientForm.patName = pat.patName;
      this.patientForm.patLastname = pat.patLastname;
      this.patientForm.gender = pat.gender;
      this.patientForm.address = pat.address;
      this.patientForm.zipCode = pat.zipCode;
      this.patientForm.patPhone = pat.patPhone;
      this.patientForm.dob = pat.dob;
      this.fixID = pat._id;
      this.fixPatient = true;
    },
    cancelEdits: function () {
      this.fixPatient = false;
      this.patientFormErrors = [];
      for (const key in this.patientForm) {
        this.patientForm[key] = "";
      }
    },
    saveChanges: function () {
      var zipVerifier = 0;
      var phoneVerifier = 0;

      // verifying zip code and phone inputs
      for (const digit in this.patientForm.zipCode) {
        if (!isNaN(digit)) {
          zipVerifier++;
        }
      }
      for (const digit2 in this.patientForm.patPhone) {
        if (!isNaN(digit2)) {
          phoneVerifier++;
        }
      }

      if (
        this.patientForm.patName === "" ||
        this.patientForm.patLastname === ""
      ) {
        this.patientFormErrors.push("Incomplete name input(s).");
      }
      if (this.patientForm.address === "") {
        this.patientFormErrors.push("Incomplete address input.");
      }
      if (this.patientForm.zipCode === "" || zipVerifier != 5) {
        this.patientFormErrors.push("Incomplete zip code input.");
      }
      if (this.patientForm.patPhone === "" || phoneVerifier != 10) {
        this.patientFormErrors.push(
          "Incomplete/Invalid phone input (must be 10 digits long)."
        );
      }
      if (this.patientForm.dob === "") {
        this.patientFormErrors.push("Incomplete DOB input.");
      }
      // checking if there are duplicate entries
      var duplicate = false;
      for (let index = 0; index < this.patients.length; index++) {
        if (
          this.patientForm.patName === this.patients[index].patName &&
          this.patientForm.patLastname === this.patients[index].patLastname &&
          this.patientForm.gender === this.patients[index].gender &&
          this.patientForm.address === this.patients[index].address &&
          this.patientForm.zipCode === this.patients[index].zipCode &&
          this.patientForm.patPhone === this.patients[index].patPhone &&
          this.patientForm.dob === this.patients[index].dob
        ) {
          duplicate = true;
          swal("Patient already exists!", "", "error");
        }
      }

      if (
        this.patientForm.patName != "" &&
        this.patientForm.patLastname != "" &&
        this.patientForm.address != "" &&
        this.patientForm.zipCode != "" &&
        zipVerifier === 5 &&
        this.patientForm.patPhone != "" &&
        phoneVerifier === 10 &&
        this.patientForm.dob != "" &&
        duplicate === false
      ) {
        let $this = this;
        this.patientFormErrors = [];

        $.ajax({
          type: "PUT",
          url: `${baseURL}/patients/editpatient/${$this.fixID}`,
          data: $this.patientForm,
          success: (data, status) => {
            if (status === "success") {
              $this.loadPatients();
              swal(
                "Saved!",
                `${$this.patientForm.patName} ${$this.patientForm.patLastname}\'s info has been updated.`,
                "success"
              );
              for (const key in $this.patientForm) {
                $this.patientForm[key] = "";
              }
              $this.fixPatient = false;
            }
          },
        });
      }
    },
    deletePat: function (pat) {
      this.patientFormErrors = [];
      var person = prompt("DELETE: Enter patient's FULL NAME to confirm.", "");
      var fullName = pat.patName + " " + pat.patLastname;
      if (person === fullName) {
        let $this = this;
        $.ajax({
          type: "DELETE",
          url: `${baseURL}/patients/deletepatient/${pat._id}`,
          success: (data, status) => {
            if (status === "success") {
              $this.loadPatients();
              swal(
                "Deleted.",
                "This patient was successfully removed.",
                "info"
              );
            }
          },
        });
      } else {
        swal("Delete Cancelled!", "This patient was not confirmed.", "warning");
      }
    },
  },
  mounted() {
    $("#patientsTable").DataTable();
    this.loadPatients();
  },
  watch: {
    searchParams: function (value) {
      if (value === "") {
        this.searchPatients();
      }
    },
    patients: function (value) {
      $("#patientsTable").DataTable().destroy();
      this.$nextTick(() => {
        $("#patientsTable").DataTable();
      });
    },
  },
};
</script>

<style>
.container {
  text-align: center;
}
</style>