<template>
  <div id="navi" class="bcontent" style="width: auto">
    <nav
      class="navbar navbar-dark bg-primary"
      style="float: left; left: 0px; top: 0px; position: absolute"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link class="nav-link" to="/doctors"
            >Doctors <i class="fa fa-user-md" aria-hidden="true"></i
          ></router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/patients"
            >Patients <i class="fa fa-bed" aria-hidden="true"></i
          ></router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/appointments"
            >Appointments <i class="fa fa-clipboard" aria-hidden="true"></i
          ></router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/"
            >Sign Out of Staff <i class="fa fa-sign-out" aria-hidden="true"></i
          ></router-link>
        </li>
      </ul>
    </nav>

    <!-- main picture -->
    <div class="container" style="margin: auto; float: right">
      <img src="@/assets/staff.jpeg" alt="" height="80%" width="70%" />
    </div>
  </div>
</template>

<script>
export default {
  name: "Staff",
};
</script>